practice-2/wsdl/currency.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    name="CurrencyConversionService"
    targetNamespace="http://practice-2/soap"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://practice-2/soap"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- Types definition -->
    <types>
        <xsd:schema targetNamespace="http://practice-2/soap">
            <!-- Request type -->
            <xsd:element name="ConvertCurrencyRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="amount" type="xsd:double" />
                        <xsd:element name="fromCurrency" type="xsd:string" />
                        <xsd:element name="toCurrency" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Response type -->
            <xsd:element name="ConvertCurrencyResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="convertedAmount" type="xsd:double" />
                        <xsd:element name="fromCurrency" type="xsd:string" />
                        <xsd:element name="toCurrency" type="xsd:string" />
                        <xsd:element name="rate" type="xsd:double" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- Message definitions -->
    <message name="ConvertCurrencyInput">
        <part name="parameters" element="tns:ConvertCurrencyRequest" />
    </message>
    <message name="ConvertCurrencyOutput">
        <part name="parameters" element="tns:ConvertCurrencyResponse" />
    </message>

    <!-- Port Type -->
    <portType name="CurrencyConversionPortType">
        <operation name="ConvertCurrency">
            <input message="tns:ConvertCurrencyInput" />
            <output message="tns:ConvertCurrencyOutput" />
        </operation>
    </portType>

    <!-- Binding -->
    <binding name="CurrencyConversionBinding" type="tns:CurrencyConversionPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="ConvertCurrency">
            <soap:operation soapAction="http://practice-2/soap/ConvertCurrency" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>

    <!-- Service -->
    <service name="CurrencyConversionService">
        <port name="CurrencyConversionPort" binding="tns:CurrencyConversionBinding">
            <soap:address location="http://localhost:8080/soap/convert-currency" />
        </port>
    </service>
</definitions> 